*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;

}

#container{
    background-color: lightgrey;
    width: 70%;
    margin: 0px auto;
    border: 0px solid black;
}

header{
    background-color: lightgoldenrodyellow;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: lightslategray;
    border: 0px solid black;
}

nav{
    background-color: lightskyblue;
    height: 50px; 
    border: 0px solid black;
}

nav ul li {
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
    
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(70% - 80px);
    background-color: lightgreen;
    min-height: 500px;
    padding: 40px
}

aside{
    float: left;
    width: calc(30% - 20px);
    background-color: lightsalmon;
    min-height: calc(500px + 60px);
    padding: 10px;
    

}

.article{

    color: blue;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    
}

.article:first-child{
        border-bottom: 1px solid white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}